@media (max-width:575px) {
    /* xs  */
    .col-xs-1{width: 8.3333%;}
    .col-xs-2{width: 16.6666%;}
    .col-xs-3{width: 25%;}
    .col-xs-4{width: 33.3333%;}
    .col-xs-5{width: 41.6666%;}
    .col-xs-6{width: 50%;}
    .col-xs-7{width: 58.3333%;}
    .col-xs-8{width: 66.6666%;}
    .col-xs-9{width: 75%;}
    .col-xs-10{width: 83.3333%;}
    .col-xs-11{width: 91.6666%;}
    .col-xs-12{width: 100%;}
    body{
        justify-content: center;
        margin: auto;
        display: block;
    }

}

@media (min-width:568px) and (max-width:767px){
    /* sm */  
    .col-sm-1{width: 8.3333%;}
    .col-sm-2{width: 16.6666%;}
    .col-sm-3{width: 25%;}
    .col-sm-4{width: 33.3333%;}
    .col-sm-5{width: 41.6666%;}
    .col-sm-6{width: 50%;}
    .col-sm-7{width: 58.3333%;}
    .col-sm-8{width: 66.6666%;}
    .col-sm-9{width: 75%;}
    .col-sm-10{width: 83.3333%;}
    .col-sm-11{width: 91.6666%;}
    .col-sm-12{width: 100%;}
}
@media (min-width:768px) and (max-width:991px){
    /* md  */             
    .col-md-1{width: 8.3333%;}
    .col-md-2{width: 16.6666%;}
    .col-md-3{width: 25%;}
    .col-md-4{width: 33.3333%;}
    .col-md-5{width: 41.6666%;}
    .col-md-6{width: 50%;}
    .col-md-7{width: 58.3333%;}
    .col-md-8{width: 66.6666%;}
    .col-md-9{width: 75%;}
    .col-md-10{width: 83.3333%;}
    .col-md-11{width: 91.6666%;}
    .col-md-12{width: 100%;}
}
@media (min-width:992px) and (max-width:1199px){
    /* lg  */
    .col-lg-1{width: 8.3333%;}
    .col-lg-2{width: 16.6666%;}
    .col-lg-3{width: 25%;}
    .col-lg-4{width: 33.3333%;}
    .col-lg-5{width: 41.6666%;}
    .col-lg-6{width: 50%;}
    .col-lg-7{width: 58.3333%;}
    .col-lg-8{width: 66.6666%;}
    .col-lg-9{width: 75%;}
    .col-lg-10{width: 83.3333%;}
    .col-lg-11{width: 91.6666%;}
    .col-lg-12{width: 100%;}   
}
@media (min-width:1200px){
    /* xl */
    .col-xl-1{width: 8.3333%;}
    .col-xl-2{width: 16.6666%;}
    .col-xl-3{width: 25%;}
    .col-xl-4{width: 33.3333%;}
    .col-xl-5{width: 41.6666%;}
    .col-xl-6{width: 50%;}
    .col-xl-7{width: 58.3333%;}
    .col-xl-8{width: 66.6666%;}
    .col-xl-9{width: 75%;}
    .col-xl-10{width: 83.3333%;}
    .col-xl-11{width: 91.6666%;}
    .col-xl-12{width: 100%;}
}

@media (max-width:575px){
    .heading2{
        font-size: 20px;
    }
    .portfolio .box-container{
        width: 300px;
        margin: auto;
    }
   
    .box-container .box {
        width: 100%;
        margin-bottom: 20px;
        margin: auto;
    }
}


@media (min-width:568px) and (max-width:767px){
    .heading2{
        font-size: 40px;
    }
}
@media (min-width:0px) and (max-width:950px){
    .insta3{
        display: none;
    }
    
}

