@use 'media.css';
@use 'all.min.css';

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100000000;
	.overlayDoor {
		&:before, &:after {
			content: "";
			position: absolute;
			width: 50%;
			height: 100%;
			background: #111;
			transition: .5s cubic-bezier(.77,0,.18,1);
			transition-delay: .8s;
		}
		&:before {
			left: 0;
		}
		&:after {
			right: 0;
		}
	}
	&.loaded {
		.overlayDoor {
			&:before {
				left: -50%;
			}
			&:after {
				right: -50%;
			}
		}
		.overlayContent {
			opacity: 0;
			margin-top: -15px;
		}
	}
	.overlayContent {
		position: relative;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		transition: .5s cubic-bezier(.77,0,.18,1);
		.skip {
			display: block;
			width: 130px;
			text-align: center;
			margin: 50px auto 0;
			cursor: pointer;
			color: #56ac50;
			font-family: 'Nunito';
			font-weight: 700;
			padding: 12px 0;
			border: 2px solid #56ac50;
			border-radius: 3px;
			transition: 0.2s ease;
			&:hover {
				background: #56ac50;
				color: #444;
				border-color: #56ac50;
			}
		}
	}
}
.loader {
	width: 128px;
	height: 128px;
	border: 3px solid #56ac50;
	border-bottom: 3px solid transparent;
	border-radius: 50%;
	position: relative;
	animation: spin 1s linear infinite;
	display: flex;
	justify-content: center;
	align-items: center;
	.inner {
		width: 64px;
		height: 64px;
		border: 3px solid transparent;
		border-top: 3px solid #56ac50;
		border-radius: 50%;
		animation: spinInner 1s linear infinite;
	}
}
@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@keyframes spinInner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-720deg);
	}
}


* {
  font-family: 'Poppins';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
}

.prevent-select {
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.container {
  max-width: 1140px;
  margin: auto;
}

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12 {
  padding: 15px;
}

$crimson : #56ac50;
$black: #0d0d0d;
$light-bg: #1a1a1a;
$white: #fff;
$light-color: #aaa;
$box-shadow: 0 6px 14px rgba(0, 0, 0, .7);

@mixin grid($val) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
  gap: 16px;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 14px;
  }

  &::-webkit-scrollbar-track {
    background: $black;
  }

  &::-webkit-scrollbar-thumb {
    background: $crimson;
    border-radius: 40px;
  }
}

body {
  /* background: #0d0d0d; */
  padding-bottom: 104px;
  background-image: url(../images/background2.png);
  background-blend-mode: multiply;
  background-color: #1a1a1a;
  background-repeat: repeat;
  background-size: 1000px;

}

section {
  padding: 80px 9%;
}

.heading {
  text-align: center;
  font-size: 6vw;
  color: $white;
  margin-bottom: 48px;
  text-transform: uppercase;

  span {
    text-transform: uppercase;
    color: $crimson;
  }
}
.heading2 {
  text-align: center;
  font-size: 50px;
  color: $white;
  margin-bottom: 48px;
  text-transform: uppercase;

  span {
    text-transform: uppercase;
    color: $crimson;
  }
}


.btn {
  display: inline-block;
  margin-top: 16px;
  border-radius: 80px;
  background: $crimson;
  padding: 10px;
  font-size: 20px;
  color: $white;
  padding-left: 32px;

  i {
    height: 30px;
    width: 30px;
    line-height: 30px;
    font-size: 20px;
    text-align: center;
    background: $white;
    color: $crimson;
    border-radius: 50%;
    margin-left: 12px;
    transition: .2s linear;
  }

  &:hover i {
    margin-left: 20px;
  }
}

// navbar

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  z-index: 1000;
  align-items: flex-end;

  a {
    padding: 16px;
    font-size: 16px;
    background: $light-bg;
    flex: 1;
    color: $white;
    text-align: center;
    transition: .2s linear;

    i {
      color: $crimson;
      padding-right: 8px;
    }

    &:hover {
      background: $crimson;


      i {
        color: $white;
      }
    }
  }
}

// home

.home {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 64px;
  min-height: calc(100vh - 104px);

  .image {
    padding-top: 60px;
    flex: 1 1 336px;
    text-align: center;

    img {
      height: 500px;
      width: 500px;
      border-radius: 100%;
      animation: iphonetptp 1s infinite alternate linear;
    }

    
  }

  .content {
    flex: 1 1 344px;

    h3 {
      color: $white;
      font-size: 50px;
      padding-bottom: 8px;
    }

    h2 {
      color: $crimson;
      font-size: 30px;
      padding-bottom: 8px;
      word-spacing: 2px;
    }

    p {
      font-size: 16px;
      color: $light-color;
      padding: 16px 0;
      line-height: 2;
    }
  }
}

.heand-sake {
  display: inline-block;
  transform-origin: right bottom;
  animation: hendsake 1s infinite alternate linear;

  img {
    width: 50px;
  }
}

@keyframes hendsake {
  0% {
    transform: rotate(10deg);
  }

  50% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-10deg);
  }
}

.snake-emoji {
  img {
    width: 11%;
  }
}

.developer-emoji {
  img {
    width: 7%;
  }
}

// about

.about {

  .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 32px;

    .info-container {
      flex: 1 1 344px;

      h1 {
        font-size: 40px;
        color: $white;
        text-transform: uppercase;
        padding-bottom: 16px;
      }

      .box-container {
        padding: 16px 0;
        display: flex;
        flex-wrap: wrap;
        gap: 32px;

        .box {
          flex: 1 1 360px;
          

          h3 {
            font-size: 20px;
            color: $white;
            padding: 16px 0;
            font-weight: normal;
            

            span {
              color: $light-color;
              font-weight: lighter;
            }
          }
          
        }
      }
    }
  }
}



// skill

.skills {

  .box-container {
    @include grid(250px);

    .box {
      padding: 32px;
      text-align: center;
      box-shadow: $box-shadow;
      border-radius: 25%;
      background: $light-bg;
      transition: all 0.5s;
      border: #56ac50 2px solid;

      &:hover {
        background: $white;

        h3 {
          color: $black;
        }
      }

      img {
        height: 70px;
        margin-bottom: 16px;
      }

      h3 {
        color: $white;
        font-size: 15px;
        text-align: center;
        font-weight: normal;
        text-transform: uppercase;
      }
    }
    
  }
}

// education

.education {

  .box-container {
    display: flex;
    flex-wrap: wrap;

    .box {
      flex: 1 1 480px;
      margin-left: 32px;
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 38px;
      padding-bottom: 48px;
      border-left: 2px solid $light-color;
      position: relative;
      img{
        width: 50%;
        margin: auto;
        display: block;
       padding-bottom: 10px;
      }


      i {
        height: 50px;
        width: 50px;
        line-height: 50px;
        font-size: 16px;
        border-radius: 50%;
        background: $crimson;
        color: $white;
        text-align: center;
        position: absolute;
        top: -16px;
        left: -25px;
      }

      span {
        font-size: 16px;
        color: $white;
        border-radius: 40px;
        padding: 10px 20px;
        background: $light-bg;
      }

      h3 {
        font-size: 20px;
        padding: 16px 0;
        color: $white;
        padding-top: 25px;
        font-weight: normal;
      }

      p {
        font-size: 16px;
        color: $light-color;
      }

      h2 {
        font-size: 16px;
        color: $light-color;
      }

      h4 {
        font-size: 16px;
        color: $light-color;
      }
    }
  }
}

// my work

.portfolio {
  text-align: center;

  .box-container {
    @include grid(35rem);
    margin-bottom: 32px;

    .box {
      height: 30rem;
      overflow: hidden;
      position: relative;
      padding: 10px;
      border: #56ac50 2px solid;

      &:hover {
        .content {
          transform: translateY(0%);
        }
      }

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }

      .content {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: $light-bg;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        padding: 32px;
        transform: translateY(-100%);
        transition: .2s linear;

        h3 {
          font-size: 32px;
          color: $white;
          text-transform: uppercase;
          font-weight: normal;
        }

        p {
          padding: 16px 0;
          font-size: 16px;
          line-height: 2;
          color: $light-color;
        }

        a {
          font-size: 24px;
          color: $crimson;

          &:hover {
            color: $white;
          }
        }
      }
    }
  }
}

// mission


.mission-contant {

  p {
    font-size: 16px;
    color: $white;
    padding: 16px 0;
    line-height: 2;
    font-size: 20px;
  }
}

// certificate

.certificate {
  text-align: center;

  .box-container {
    @include grid(35rem);
    margin-bottom: 32px;

    .box {
      height: 50rem;
      overflow: hidden;
      position: relative;
      padding: 10px;
      border: #56ac50 2px solid;


      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
      }
    }
  }




// contact

.contact {

  .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 32px;

    .info-container {
      width: 400px;

      h1 {
        font-size: 24px;
        text-transform: uppercase;
        color: $white;
        padding-bottom: 16px;
      }

      p {
        font-size: 16px;
        line-height: 2;
        color: $light-color;
        padding: 16px 0;
      }

      .box-container {
        padding: 32px 0;

        .box {
          display: flex;
          gap: 32px;
          padding: 16px 0;

          i {
            font-size: 24px;
            color: $crimson;
          }

          h3 {
            font-size: 20px;
            color: $white;
          }
        }
      }

      .share {

        a {
          font-size: 20px;
          height: 36px;
          width: 36px;
          line-height: 36px;
          border-radius: 50%;
          background: $light-bg;
          color: $white;
          text-align: center;
          margin-right: 5px;
          transition: all 0.5s;

          &:hover {
            background: $crimson;
            transform: scale(1.1);
          }
        }
      }
    }

    form {
      flex: 1 1 344px;

      .inputBox {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        

        input {
          width: 49%;
          border: #56ac50 2px solid;
        }
      }

      .inputBox input,
      textarea {
        border-radius: 15px;
        padding: 15px 24px;
        font-size: 16px;
        color: $white;
        text-transform: none;
        margin: 7px 0;
        background: $light-bg;
      }

      textarea {
        width: 100%;
        border-radius: 16px;
        ;
        resize: none;
        height: 250px;
        border: #56ac50 2px solid;
      }

      .btn {
        padding: 10px 30px;
        cursor: pointer;

        &:hover {
          background: $white;
          color: $black;
        }
      }
    }
  }
}

// footer

footer {
  h1 {
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    text-align: end;

  }
}

// cursor

.cursor {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 2px solid white;
  transition: all 200ms ease-out;
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  transform: translate(calc(-50% + 15px), -50%);
}

.cursor2 {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: white;
  opacity: .3;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: width .3s, height .3s, opacity .3s;
}

.cursorinnerhover {
  width: 50px;
  height: 50px;
  opacity: .5;
}

// scroll counter

#progress {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: fixed;
  bottom: 25px;
  right: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: grid;
  place-items: center;
}

#progress-value {
  display: block;
  height: calc(100% - 12px);
  width: calc(100% - 12px);
  background-color: #ffffff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-weight: 600;
  font-size: 10px;
}

// media queries 

@media (max-width:1200px) {

  html {
    font-size: 55%;
  }

  section {
    padding: 48px 32px;
  }

}

@media (max-width:768px) {

  .heading {
    font-size: 12vw;
  }

  .navbar {

    a {

      i {
        padding: 0;
      }

      span {
        display: none;
      }

      &:hover {
        padding-bottom: 16px;
      }
    }
  }

  .home {
    text-align: center;
    gap: 32px;

    .image img {
      height: 300px;
      width: 300px;
    }

    .content {

      h3 {
        font-size: 24px;
      }

      span {
        font-size: 30px;
      }
    }
  }

  .contact .row form .inputBox input {
    width: 100%;
    margin-bottom: 16px;
  }
}

@media (max-width:450px) {

  html {
    font-size: 40%;
  }

}

html {
  scroll-behavior: smooth;
}

// instagram

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

a {
  text-decoration: none;
}


// body{
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   min-height: 100vh;
//   background: #eee;
// }
.card {
  position: relative;
  width: 100%;
  min-height: 400px;
  background: #fff;
  box-shadow: 15px 15px 60px rgba(0, 0, 0, .15);
  padding: 20px;
}

.card .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card .top .userDeatils {
  display: flex;
  align-items: center;
}

.card .top .userDeatils .profileImg {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 8px;
  overflow: hidden;
}

.cover {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}

.card .top .userDeatils h3 {
  font-size: 14px;
  color: #4d4d4f;
  font-weight: 700;
  line-height: 1rem;
  cursor: pointer;
  font-family: sans-serif;
  
  span{
    padding-top: 15px;
  }
}

.card .top .userDeatils span {
  font-size: 0.75em;
  margin:0px;
  display: inline-block;
}

.card .top .dot {
  transform: scale(0.6);
  cursor: pointer;
}

.dot img {
  width: 30px;
}

.imgBg {
  position: relative;
  width: 100%;
  height: 300px;
  margin: 10px 0 15px;
}

.btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btns img {
  max-width: 24px;
  cursor: pointer;
}

.btns .left img {
  margin-right: 8px;
}

.likes {
  margin-top: 5px;
  font-size: 1em;
  color: #4d4d4f;
}

.message {
  font-weight: 400;
  margin-top: 5px;
  color: #777;
  line-height: 1.5em;
  font-size: 20px;
}

.message b {
  color: #262626;
}

.message span {
  color: #1d92ff;
  cursor: pointer;
}

.comments {
  margin-top: 10px;
  align-items: center;
  color: #999;
}

.addComments {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.addComments .userImg {
  position: relative;
  min-width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 8px;
}

.addComments .text {
  width: 100%;
  border: none;
  outline: none;
  font-weight: 400;
  font-size: 18px;
  color: #262626;
}

.addComments .text::placeholder {
  color: #777;
}

.postTime {
  margin-top: 10px;
  font-weight: 500;
  color: #777;
}

.insta {

  .box-container {
    @include grid(30rem);
    margin-bottom: 32px;
    margin: auto;

    .box {
      padding: 5px;

      box-shadow: $box-shadow;

      transition: all 0.5s;


    }
  }
}

// loader


// .sq-loder {
//   width: 100%;
//   height: 100vh;
//   background-color: black;
//   display: flex;
//   justify-content: center;
//   align-items: center;

//   .sq-loder-4 {
//       width: 100px;
//       height: 100px;
//       border: 5px solid #11a542;
//       animation: scale1 2s linear infinite;
//       border-radius: 100%;

//       .in-sq-loder-4 {
//           width: 100%;
//           height: 100%;
//           border-radius: 100%;
//           border: 5px solid #11a542;
//           animation: scale2 2s ease-in infinite;
//           overflow: hidden;

//           .in-sq-loder-4 img {
//               margin: 5px;
//               animation: scale1 2s ease-out infinite;
//           }
//       }

//   }
// }

// @keyframes scale1 {
//   0% {
//       transform: perspective(200px) rotatex(0deg) rotateY(0deg);
//   }

//   50% {
//       transform: perspective(200px) rotatey(180deg) rotateY(180deg);
//   }

//   100% {
//       transform: perspective(200px) rotatey(360deg) rotateY(360deg);
//   }
// }

// @keyframes scale2 {
//   0% {
//       width: 100%;
//       transform: perspective(200px) rotatex(0deg) rotateY(0deg);
//   }

//   50% {
//       width: 80%;
//       height: 80%;
//       transform: perspective(200px) rotatey(180deg) rotateY(180deg);
//   }

//   100% {
//       width: 100%;
//       transform: perspective(200px) rotatey(360deg) rotateY(360deg);
//   }
// }
